packages:
  yum:
    mod24_ssl: []
    epel-release: []

container_commands:
  1_install_certbot:
    command: "pip install certbot certbot-nginx"
  2_get_certificate:
    command: "certbot --nginx --debug --non-interactive --email erkebulan.duishenaliev@gmail.com --agree-tos --domains ${CERTBOT_DOMAIN} --keep-until-expiring"
    env:
      CERTBOT_DOMAIN: "easy-rent-backend-c-env-1.eba-eyrfvvup.eu-north-1.elasticbeanstalk.com"
  3_link_cert:
    command: "ln -sf /etc/letsencrypt/live/${CERTBOT_DOMAIN}/fullchain.pem /etc/pki/tls/certs/server.crt"
    env:
      CERTBOT_DOMAIN: "http://easy-rent-backend-c-env-1.eba-eyrfvvup.eu-north-1.elasticbeanstalk.com/"
  4_link_key:
    command: "ln -sf /etc/letsencrypt/live/${CERTBOT_DOMAIN}/privkey.pem /etc/pki/tls/certs/server.key"
    env:
      CERTBOT_DOMAIN: "easy-rent-backend-c-env-1.eba-eyrfvvup.eu-north-1.elasticbeanstalk.com"